[2015-02-21 20:31] edtjones opened #1 "Add a ApplicationController method for checking if we need to use the preview API"
It would be good to support the preview api. This involves:

* having a configuration option to enable this
* add configuration option for the preview key
* supporting a subdomain (configurable) which, when hit, calls the preview API instead of the cdn
* provide HTTP basic auth

[2015-03-19 15:07] edtjones opened #2 "Mime::JSON is declared twice and causes a warning"
We need to add a mime type to Mime::JSON so we re-declare it.

To fix we need to unset and reset it.

[2015-07-13 19:24] davidstocker opened #4 "Engine fails to mount"
I created a new Rails 4.1.8 project, added contentful_rails to the gemfile, and was unable to start the Rails server. The stack trace is below:

[code]

[2015-07-20 23:19] TrevorBramble commented on #4
@davidstocker Does your initializer (`config/initializers/contentful_rails.rb`) look like the README example? It looks like you may have added `ContentfulRails.configuration do |config|` instead of `ContentfulRails.configure do |config|`.

[2015-07-20 23:32] TrevorBramble opened #5 "contentful_rails requires contentful_model, but doesn't."
Unless the `contentful_model` gem is added to the Gemfile or a require statement is inserted at the top of the `contentful_rails.rb` initializer, Rails bombs.

If it's a non-optional dependency, please require `contentful_model` from the `contentful_rails` gem.

[code]

[2015-07-21 01:28] TrevorBramble commented on #5
Ah, and now that I've added the initializer for `contentful_model`, it turns out that it isn't enough to add a require like so.
[code]
Either it has to be added to the above _and_ to `config/initializers/contentful_model.rb` or the `contentful_model` gem has to be added directly to the project Gemfile.

[2015-07-21 05:37] davidstocker commented on #4
I didn't preserve the initializer that I used when I first posted the issue since we decided to go another direction. However, I just now copied the initializer from the readme and still failed to load the application.

[code]

Here is the stack trace with this initializer:

[code]

[2015-07-26 20:53] maqen opened #6 "Help understanding how to use caching"
Thanks for a great gem, eases use of contentful in rails apps allot!

But I'm having a hard time understand how I would go about adding caching to my application. Can fragment caching be used?

[code]

Is it possible to add a section in readme or similar with some small code examples on how to use cache (updated_at) for views and in controllers?

[2015-07-27 14:19] edtjones commented on #6
Hi @maqen I'll improve the readme. In short, though, what you're doing should work ok. If `@car` is a ContentfulModel object, it should respond to cache_key which means Rails views will cache OK.

You can prove this out by doing the following in a console session:

[code]

Hope that helps?

[2015-07-27 14:21] edtjones commented on #5
Hi @TrevorBramble - if you're using a Rails application and you're included the ContentfulRails gem in the project, it should install ContentfulModel for you - it's in the gemspec here: https://github.com/errorstudio/contentful_rails/blob/master/contentful_rails.gemspec

Also - no need to `require contentful_model` in the initializer - Rails will autoload ContentfulModel.

Ed

[2015-07-27 14:21] edtjones commented on #5
(Closing - reopen if I'm mistaken :-) )

[2015-07-27 14:23] edtjones opened #7 "Configuration documentation is inaccurate"
Thanks for @TrevorBramble for raising https://github.com/errorstudio/contentful_model/issues/13 - actually this is a README bug on this project.

[2015-07-27 14:23] #7 closed

[2015-07-27 14:25] edtjones commented on #4
hi @davidstocker sorry for the slow reply. I think this relates to https://github.com/errorstudio/contentful_rails/issues/7 which I've just resolved. Can you have a nose at the README for contentful_rails and see if it makes sense / works for you?

[2015-07-27 14:25] #4 closed

[2015-07-27 15:58] maqen commented on #6
But how can I get ```Car.first``` without hitting the contentful api? Don't see the point in caching like this then?

[2015-07-27 18:40] TrevorBramble commented on #7
@edtjones :+1: Thanks!

[2015-07-27 18:46] TrevorBramble commented on #5
@edtjones Hi, Ed. Right, declaring the dependency in the Gemspec file will make sure it's installed, but Rails doesn't know to autoload it because it relies on Bundler for that. Without contentful_model in the Gemfile, Rails doesn't load it automatically.

Frankly, I admire the instinct to keep these libraries distinct, but since they're mutually dependent it seems in practice that's not actually

[2015-07-27 19:20] edtjones commented on #5
A really good point @TrevorBramble - sorry. I messed up there.

I still it's worth keeping the distinction between the model stuff and the rails stuff - because it's quite possible (and we've done it) that you want to use Contentful models in something non-railsy. And the Rails stuff adds loads of hard deps on the Rails stack - caching, engines, initialisers etc.

Shall I add an initialiser in the

[2015-07-27 19:35] edtjones commented on #6
Hi @maqen you're right - this doesn't obviate the need for an API hit to get a collection of `Car` objects, but it would stop you having to make a call to get more child data if you have a parent/child relationship in Contentful.

The only thing which is cached (by default) is the timestamp - so the logic goes like this:

* Get collection of things (does require API hit)
* cache view partial based

[2015-07-27 19:35] #6 closed

[2015-07-27 21:11] TrevorBramble commented on #5
That's fantastic--looking again there's only the ActiveSupport requirement, not all of Rails, nor the contentful_rails gem. So that's good because I'm also evaluating Contentful for use with Sinatra and Interactions without any sort of content presentation.

How's #8 for the `require`?

[2015-08-14 14:19] edtjones commented on #5
Sorry Trevor - missed this. Need to work on my github notification settings. Will review the PR ASAP and merge.

[2015-08-21 01:46] zrisher opened #9 "provide example usage or documentation for slugging"
Would it be possible to get an example of how to use route slugging with contentful_rails? I see the below `Sluggable` concern, but I'm having trouble getting it to work.

https://github.com/errorstudio/contentful_rails/blob/5f5bfb238896078f200492a3ba20c84f6d5f35f6/lib/contentful_rails/sluggable.rb

[2015-09-24 18:15] zrisher opened #10 "Rails.catch.fetch doesn't properly serialize ContentfulModels"
Let's say we have a `ContentfulModel` named `Company` with several fields and associations. If we do:

[code]

The first time we call `company` we'll receive the a `Company`. The second time, we'll receive an `Array` with some of its associations (but none of its field values). The second time we're loading the result from the cache, so this leads me to believe the ContentfulModel is not being mar

[2015-09-24 18:57] zrisher opened #11 "provide example documentation for caching"
I'm a little confused as to how to best make use of the existing caching support.

I see in `lib/contentful_rails/caching/timestamps.rb` that this maintains a `timestamp_cache_key` for `ContentfulModel`s that gets invalidated automatically if you tell Contentful to post back to your webhook. This also sets `updated_at` to cache based on this key. So, from my understanding, this allows us to do thi

[2015-09-24 20:20] edtjones commented on #11
Hi @zrisher

Bit of a brain dump:

You're right - caching isn't done right. My original plan was that by caching the time stamp you could derive a key (and therefore a cached view partial) without an API hit, but as you have found that's not how it works. :-(

The correct solution is to be able to derive a Contentful model completely from the cache but unfortunately it's harder than it seems to ge

[2015-09-24 21:35] zrisher commented on #11
Hey Ed,

Thanks for getting back to me so quickly. I'm at the tail end of the project I'm using Contentful for (thus the caching), but it's very likely we'll be using it again. Happy to submit PRs and work with you then, and yeah if you're busy commit access could help me move faster at that point. I can see there is a *ton* of complexity going on behind the scenes, so I'm hoping if we come back t

[2015-09-25 07:01] edtjones commented on #11
Glad you're finding it useful. We aren't affiliated - we built it for some integrations we were doing, and we are Contentful partners off the back of it.

We haven't got any Contentful projects at the moment, so you might get to the amends before us. Let me know if/when you want commit access.

Ed

[2015-10-22 08:11] maqen opened #12 "Unable to reset cache from webhooks"
Webhooks for clearing cache is now throwing an error how can I solve this?

[code]

[2015-11-20 21:06] zrisher commented on #5
This can be closed now that you've merged #8, correct?

[2015-11-20 21:07] zrisher commented on #10
This comment from #11 is instructive:

[2015-11-20 21:54] pxlpnk commented on #10
@edtjones & @zrisher there is a way that would allow to create an entry without a making an api call:
https://gist.github.com/neonichu/17a987aeeb256d4bf6f3

this is a bit hackish. I think it would make sense to open a ticket at
https://github.com/contentful/contentful.rb
and discuss this there. It would be a huge benefit to improve caching if this was possible.

[2015-11-21 09:07] edtjones commented on #5
Yes - closing. Thanks for the nudge @zrisher

[2015-11-21 09:07] #5 closed

[2016-08-08 15:25] ericgross opened #15 "Using caching and the preview API simultaneously is impossible"
Due to the following code, it is impossible to test caching while also testing the preview API - would it be possible to separate these concepts so that both could be used at the same time?
[code]

[2016-08-09 11:27] ericgross opened #16 "Is this an official gem?"
Is this gem part of Contentful's official support for for Ruby?

If so, are there any policies on how often issues are responded to or how often PRs are merged? I get the feeling this isn't a priority for Contentful to maintain based on the frequency of activity and lack of tests.

[2016-08-09 11:30] edtjones commented on #16
Hi @ericgross I'll let @dlitvakb answer formally - but @foxpaul and I wrote the gem originally then the Contentful team took it over. We don't use it much now, having moved on another CMS platform we've built. I'm pretty sure the intention is to keep this gem current though. @dlitvakb ?

[2016-08-09 13:34] dlitvakb commented on #16
Hey @ericgross,

The idea as @edtjones said, is to maintain both this and `contentful_model` as part of our official integrations.

We're working hard on extending what @edtjones and his team worked on. And adding more features as we go.

We're currently beta testing `contentful_model` before we make a new full release with CMA integration and Content Model migrations. Once we finish that, we'll b

[2016-08-12 17:59] robcole opened #17 "undefined method `management_token=' for #<ContentfulRails::Configuration:0x007fc86564b510> (NoMethodError)"
Rails version: 5.0.0
Gem version: contentful_rails (0.2.3)

Steps to duplicate:

Add simple initializer. Attempt to launch server.

[code]

[2016-08-12 19:47] dlitvakb commented on #17
Hey @robcole,

The `management_token` is not yet released - we're testing it as a beta, it's only in master. If you want to use it, please use the git branch instead of the gem.

Hope that helps,

Cheers

[2016-08-17 12:52] richessler opened #18 "Concern with `eager_load!`"
While adding the `contentful_rails` gem to my application I noticed it instantly bombed initialization and it was happening on load of a class which I dynamically load after initialization.

It was bombing because my `Rails.application.routes.url_helpers` haven't yet been defined and i traced it back to [line 28 of engine.rb](https://github.com/contentful/contentful_rails/blob/master/lib/contentfu

[2016-08-17 13:00] edtjones commented on #18
Hi @richessler

(I wrote this code but I'm no longer maintaining the project - we've handed it over to @dlitvakb and the team)

The `eager_load!()` is necessary here because we need to iterate over all the classes which inherit from ContentfulModel::Base and add an entry mapping for them - this means that they will return a collection of the correct class type when you call the API. If you didn't

[2016-08-17 13:03] richessler commented on #18
I appreciate the quick replay @edtjones, I'm curious if you had any suggestions as to a possible solution to my problem then without having to rewrite current class definition logic?

[2016-08-17 13:09] edtjones commented on #18
@richessler could you load yours upfront in an initializer? Or maybe you could add the contentful_rails gem with require: false in the gemfile, and load in an `config.to_prepare` hook in an initializer?

[2016-08-17 13:31] dlitvakb commented on #18
I'd agree with @edtjones latest comment

[2016-08-17 13:33] richessler commented on #18
@edtjones @dlitvakb thanks for recommendations - i think i'll attempt the latter because i need the `Rails.applcation.routes.url_helpers` to be loaded first. If you have any other suggestions I'll gladly accept - will report back.

[2016-08-17 19:48] richessler commented on #18
@edtjones @dlitvakb while attempting to load the initializer in a `config.to_prepare` it's giving me `NoMethodError: undefined method `configuration' for ContentfulRails:Module` which is in [line 6 of engine.rb](https://github.com/contentful/contentful_rails/blob/master/lib/contentful_rails/engine.rb#L6) thoughts?

[2016-08-17 19:53] edtjones commented on #18
Sounds like a load order issue - you're trying to configure ContentfulRails before you've loaded it in the config.to_prepare block. Suggest you name your initialisers so they load in lexicographical order (ie 01_something.rb), and configure in your to_prepare block after loading it.

--
Sent from my phone: please forgive the brevity.

[2016-08-19 12:39] richessler commented on #18
So a few things we discovered:

Your above recommendations of the `to_prepare()` and `require: false` within the gem file got me passed the load issue and so the `eager_load!()` no longer was an issue, but what then was discovered is that that initializer chain within `engine.rb` doesn't get run with `require: false`.

Referencing [this post by Yehuda Kats](http://stackoverflow.com/a/8454819/35733

[2016-08-19 12:47] richessler commented on #18
To circle back to my initial q with the `eager_load!()` would it be possible to do that iteration on the classes inheriting from `ContefulModel::Base` at a different time?

[2016-08-19 12:49] edtjones commented on #18
Possibly @richessler but it might be easier to refactor your app to load your class which references `Rails.application.routes.helpers` instead. Don't know if I have any more suggestions I'm afraid.

[2016-08-23 10:29] richessler commented on #18
@edtjones @dlitvakb I just wanted to update you:

We made some refactors within our app to, calling `to_prepare()!` on the `ContentfulRails` initializer wasn't an option because of the aforementioned issues with the initializer chain within the gem not running after the app initialize process had begun.  What we did was, instead change our initializers which depending our `url_paths()` to be defin

[2016-09-26 23:02] pmoore commented on #18
Hi @edtjones, I work with @richessler and just discovered some other issues with the `eager_load!` call during initialization.  We noticed that it's greatly slowing down our dev & text boot ups and even causes some tests to fail in our test environment (looking into that one...).

But looking through, I also realized that we were already defining our `entry_mapping` in our configuration, which is

[2016-09-27 07:17] edtjones commented on #18
Hiya

Thanks for this. I will let the Contentful gang decide whether to merge - although I kicked this gem off I'm not much involved (I just stick my oar in on GitHub conversations where I have some background knowledge).

Ed

--
Sent from my phone: please forgive the brevity.

Ed Jones
0779 187 4282

[2016-10-06 14:31] richessler commented on #18
closing after #20 👍

[2016-10-06 14:31] #18 closed

[2016-10-25 18:39] dezmathio opened #22 "Subclassing MarkdownRenderer"
so, I was following your README on subclassing the markdown renderer, and I realized that in your markdown_helper.rb parse_markdown method you always instantiate the
```renderer = ContentfulRails::MarkdownRenderer.new(renderer_opts)```
So, how do you typically force your engine to use your new and improved subclassed markdown renderer?

[2016-10-25 18:43] edtjones commented on #22
@dezmathio we have re-defined parse_markdown in a new helper in the project to to this.

[2016-10-25 18:55] dezmathio commented on #22
I see, we thought of doing that as well. Do you think that it would be worthwhile making a configuration attribute such as `.markdown_renderer` where we could override it if we were using a subclassed one, else it would always use the default one? That way we could cut down on code duplication & have a somewhat cleaner solution. Thoughts? cc @pmoore

[2016-10-25 19:07] edtjones commented on #22
I'll leave @dlitvakb to decide, @dezmathio - he maintains now.

[2016-10-25 20:30] dlitvakb commented on #22
Hey @dezmathio,

Looks like something we can improve on,

I'll look onto it as soon as I have a free slot on my schedule.

I'll propose taking a look again to refining this gem during next week's planning.

I'll try to get you an update by this time next week.

Cheers

[2016-11-10 10:30] clowder opened #24 "Missing attr_writer for attributes with nil values"
We've hit an an issue were we're unable to programatically write attributes if they are blank.

Steps to reproduce:

1. Create a Post content type with a title attribute
2. Create create a record with the title "Testing 123"
3. Add a slug attribute to the type
4. From the console programmatically try and add the slug to each record:
  `Post.each { |p| p.slug = p.name.parameterize }.each(&:save)`
5

[2016-11-10 10:30] clowder commented on #24
Conscious that this might not get fixed quickly, would be really grateful for a work around.

[2016-11-10 11:07] clowder commented on #24
Managed a really ugly hack to get this working.

1. Set `return_nil_for_empty :slug` in the Post
2. Then in the console:

[code]

[2016-11-10 11:16] dlitvakb commented on #24
Hey @clowder,

Glad you could manage a workaround.

Currently I'm traveling, and work will be a bit slow for the rest of the week, but my priority is to use all my spare time to fix issues related to this library and `contentful_model`.

I'll look into why this is happening and let you know as soon as I have an answer.

Cheers

[2016-11-10 20:39] dlitvakb commented on #22
Hey @dezmathio,

Sorry response took a bit longer, I've been travelling quite a bit (right now at RubyConf US).

My first priority now is to address all Rails Integration related issues, including this one, so I'll be tackling this issue in the next few days and have a PR ready for merge as soon as possible.

Cheers

[2016-11-23 16:19] clowder opened #25 "#delete_matched not supported by all ActiveSupport cache types"
Notably if your using memcached and Dalli they [don't/won't support](https://github.com/petergoldstein/dalli/issues/397) this method.

[2016-11-30 10:57] goalaleo opened #26 "alias_method_chain call in timestamps.rb causes deprecation warning"
I get these warning messages for every request. Could this be fixed?
[code]

[2016-11-30 11:21] dlitvakb commented on #26
Hey @goalaleo,

I'll take a look into this,

I'm currently working on a different project, but within the next 2 weeks I'll be trying to finish all `contentful_model` and `contentful_rails` issues.

Cheers

[2017-01-25 10:56] jguitar commented on #2
When will be a release version of the gem?

[2017-01-25 10:59] jguitar commented on #2
I mean, I saw that this bug is fixed on master but I'd like to do `bundle update contentful_rails` and use an stable version instead of using the master version of the repo.

[2017-01-25 12:00] dlitvakb commented on #2
Hey @jguitar,

I'm currently waiting on approval for the release of the 2.0.0 version of the CDA SDK, which will mean rewriting an important portion of `contentful_model` to make it way simpler, I'm expecting that will happen within the next few weeks, and a join release of both `contentful_model` and `contentful_rails` will be done shortly after that.

Cheers

[2017-01-25 12:09] jguitar commented on #2
Hi @dlitvakb ,

I like to see that there is movement here 😉

Thanks

[2017-02-03 02:20] sebbean opened #30 "this thing work?"
<img width="1246" alt="screen shot 2017-02-02 at 6 21 56 pm" src="https://cloud.githubusercontent.com/assets/423997/22577083/86373440-e974-11e6-82c7-42f19e1c6f01.png">

[2017-02-03 11:52] dlitvakb commented on #30
Hey @sebbean,

Which version of `contentful_model` and of the `contentful` gem are you using?

Cheers

[2017-02-04 00:03] sebbean commented on #30
GIT
  remote: https://github.com/sebbean/contentful_rails.git
  revision: 201881d32d0b099acb51f59c882f23c5afd005eb
  branch: patch-1
  specs:
    contentful_rails (0.3.0)
      contentful_model (>= 0.1.7)
      rails (>= 4.1.8)
      redcarpet (~> 3.2)

[2017-02-06 13:15] dlitvakb commented on #30
Hey @sebbean,

Could you try updating to `contentful_model ~> 0.2`. That may fix your issue.

If not, I'll take another look into it.

Cheers

[2017-02-06 23:11] sebbean commented on #30
Why not update the gemspec to use that higher model version? gem 'contentful_rails' doesnt have any way of specifying the contentful_model version.

Updating the gemspec in my branch:
@dlitvakb https://github.com/contentful/contentful_rails/pull/27

[2017-02-06 23:12] sebbean commented on #30
contentful_model features seem to be busted:
I can access data with `model.fields[:relation].map(&:resolve)` but it doesnt do any of the things that contentful_model supposedly provides.

<img width="1353" alt="screen shot 2017-02-06 at 3 08 57 pm" src="https://cloud.githubusercontent.com/assets/423997/22670557/930cef0e-ec7e-11e6-9a71-8dd5b2f89fdb.png">
![screen shot 2017-02-06 at 3 09 34 pm](http

[2017-02-06 23:27] sebbean commented on #30
<img width="517" alt="screen shot 2017-02-06 at 3 27 36 pm" src="https://cloud.githubusercontent.com/assets/423997/22670996/cf78b016-ec80-11e6-928d-047d18830dca.png">

[2017-02-08 21:26] sebbean commented on #30
seemed to fix the issue by removing version constraints from gemspecs.

this is how I am able to use these gems successfully:
[code]

[2017-02-08 21:30] sebbean commented on #30
eh, doesnt really work actually. just loaded the correct classname using the `fields[:relationship].map(&:resolve)` hack

[2017-02-08 22:18] dlitvakb commented on #30
Thanks for digging into this,

Regarding contentful/contentful_model#56 I just made a comment there.

Cheers

[2017-02-08 22:21] sebbean commented on #30
My issue was actually wrongly set `default_locale`

  config.default_locale = 'en-US'

[2017-03-03 00:43] beschloo commented on #1
is there a way to do preview mode rn with this gem? i tried using api_url in contentful_options, receiving unauthorized error

[2017-03-14 02:16] pmoore opened #32 "Rails 5 support?"
I have a PR to handle all of what we could find for Rails 5 support, while still supporting Rails 4.

https://github.com/contentful/contentful_rails/pull/31

[2017-03-15 20:20] sebbean opened #34 "enable caching support"
(non rails russian doll)

[2017-03-21 11:54] #30 closed

[2017-04-20 22:46] jpowell opened #35 "Can't load gem without ActiveRecord"
This gem assumes your project is using `ActiveRecord` and fails in the boot process. Does it make sense to assume the ORM? Should `ContentfulRails` be extending `ActiveRecord::Migration` with something from `ContentfulModel`? This coupling is troublesome when you have a thin client and are using contentful as your database...

[2017-05-18 12:16] matthewford opened #36 "Webhooks Rails 5"
Hi,

I get errors with the webhooks engine in Rails 5 (on master)

[code]

[2017-07-28 08:28] goalaleo commented on #26
@dlitvakb any update on this? It's not breaking anything, but it's an annoyance when developing

[2017-08-28 21:33] dlitvakb commented on #26
Hey @goalaleo, the latest version of `contentful_rails` is not using `alias_method_chain` anymore, please update accordingly.

Cheers

[2017-08-29 09:47] goalaleo commented on #26
@dlitvakb cheers 👏 !

[2017-09-27 13:11] damienh commented on #36
I also get this when the webhook is `"X-Contentful-Topic": "ContentManagement.Entry.publish",`

However `"X-Contentful-Topic": "ContentManagement.Entry.auto_save"` calls return `200`.

Using Rails 5.

[2017-09-27 13:28] dlitvakb commented on #36
Hey @matthewford and @damienh,

Thanks for submitting the bug.

I'll take a look into this as soon as I can.

Cheers

[2017-09-29 09:18] damienh commented on #36
@dlitvakb Did some digging around and have a PR that solves this https://github.com/contentful/contentful_rails/pull/37

[2017-09-29 10:27] dlitvakb commented on #36
Hey @damienh, I tried your PR and looks like it's working, it has been merged! Thanks.

@matthewford can you confirm if you still have the issue when updating to master branch?

Cheers

[2017-10-05 10:22] damienh opened #39 "Webhooks fail in Rails 5.1"
`:nothing` option for `render` has been removed in Rails 5.1. This causes it throw a template error. Proposed fix in the PR below.

https://github.com/contentful/contentful_rails/pull/38

[2018-01-08 13:27] alexmirkhaydarov commented on #39
@damienh

I've created a PR for this issue with a fix.

https://github.com/contentful/contentful_rails/pull/41

[2018-01-16 02:54] jonhainstock commented on #36
I just wanted to let you know that this PR worked for me. I'm running Rails 5.1.4. Thanks @damienh!

[2018-01-19 14:16] nomasprime opened #42 "Content types caching blowing up VCR on CI"
I'm pulling what little hair I have out trying to figure this out.

Running Rails app tests locally and everything is fine.

When it goes to CI I get requests that aren't handled ending in `content_types?limit=1000`. I'm guessing this is to do with dynamic loading.

How do I get the same behaviour locally so I can update VCR?

Thanks

[2018-01-25 09:35] BravoSimone opened #43 "Release webhooks fix?"
Actually the latest `contentful_rails` gem version is `0.4.1` and it doesn't contain the webhooks fix, can you publish a minor release to fix that issue?

[2018-01-25 09:56] dlitvakb commented on #43
Hey @BravoSimone,

I'm currently on parental leave enjoying my newborn, I'll be back in 2 weeks and look through the backlog of unreleased stuff.

I'm sorry for the inconvenience.

Cheers

[2018-01-30 21:01] sebbean commented on #1
seems like these things are in the current gem. however, they require a preset "preview" subdomain. doesn't work for things like heroku review apps

[2018-02-06 09:58] dlitvakb commented on #1
If you set `ContentfulModel.use_preview_api = true` it will use the Preview API.

Hope this helps,

Cheers

[2018-02-06 14:56] dlitvakb commented on #39
This has been merged.

[2018-02-06 14:56] #39 closed

[2018-02-06 14:56] dlitvakb commented on #36
Closing, as this is confirmed to work.

Cheers

[2018-02-06 14:56] #36 closed

[2018-02-06 17:30] sebbean commented on #1
@dlitvakb you can't, for instance, use a `before_action -> { ContentfulModel.use_preview_api = params[:preview] == 't' }` since contentful_rails resets the flag after the before_action and before the (final) controller action

[2018-02-06 17:30] sebbean commented on #1
enabled that style of preview flag in my branch here: https://github.com/contentful/contentful_rails/compare/master...bean-la:task/preview-query-param

[2018-02-20 01:27] sebbean commented on #25
where is this used? @clowder i'm using dalli and i haven't noticed it

[2018-02-20 01:28] sebbean commented on #34
noticing that rails 5 caching (even russian doll) seems to be pretty broken.

joining the contentful partner program - curious if ya'll have outsiders come in and work on things like this?

@dlitvakb

[2018-03-05 09:21] dlitvakb commented on #34
Hey @sebbean,

Sorry for taking so long to reply,

I was talking with my team regarding how to give you more contribution power as your help with this  gem has been invaluable.

Would you have time for a call some time this week? (I'm on europe, so timezones may be hard, but we may be able to figure something out)

Cheers

[2018-03-06 15:37] sebbean commented on #34
Hey David!

Just getting back from vacation, playing catchup this week.

Maybe later in this week (friday?) can work or early next.

I’m in PST, so early my end is probably the best bet?

-sb

On Mon, Mar 5, 2018 at 1:21 AM David Litvak Bruno <notifications@github.com>
wrote:

[2018-03-06 16:54] dlitvakb commented on #34
Sounds good,

We can schedule something privately - email me to david.litvak@contentful.com

Cheers

[2018-03-12 19:17] raybradley opened #44 "Load error"
Hi. As of this morning I started seeing this:

Any idea what's causing this? Never seen this kind of error in Rails before.

[2018-03-13 09:07] dlitvakb commented on #44
Hi @raybradley,

There haven't been any recent updates to either this or the `contentful_model` gem.

Have you changed anything on your setup recently?

Cheers

[2018-03-13 09:14] dlitvakb commented on #42
Hey @nomasprime,

This request gets executed when you instantiate the CDA Client, so you should wrap with a VCR call the process of loading your initializers (or wherever you create the client).

Cheers

[2018-05-15 09:56] tiinapennala commented on #44
@raybradley this error is caused by the `require_all` gem which `contentful_model` has as a dependency. v. 2.0.0 of `require_all` was released on 7th of march https://github.com/jarmo/require_all/releases

Try specifying an earlier version of the gem.

[2018-05-15 10:57] dlitvakb commented on #44
Hi @raybradley,

A new version of the `contentful_model` gem has been released removing the `require_all` dependency and added a lot of new features.

I'm currently planning on updating this gem to use the new version of `contentful_model`.

Cheers

[2018-05-24 08:49] dlitvakb commented on #32
Hey @pmoore,

This has been merged for a while, sorry for not closing this issue sooner.

Cheers

[2018-05-24 08:49] #32 closed

[2018-05-24 08:50] dlitvakb commented on #35
I will look into removing this hard dependency.

Cheers

[2018-05-24 11:59] #16 closed

[2018-05-24 12:00] dlitvakb commented on #44
Current `master` uses `contentful_model -v 1.0.0` which solves this issue.

I'm working on a new full release, which will probably come by the beginning of August.

Cheers

[2018-05-24 12:02] dlitvakb commented on #15
Hey @ericgross,

Sorry I took so long to respond,

I'm currently working on a new release of this gem to match the 1.0.0 release of `contentful_model`, I'm going to think about this and consider adding it. I'll update you on the decision once I've discussed it with my team.

Cheers

[2018-05-24 12:09] dlitvakb commented on #11
Hey @zrisher,

Sorry for taking so long to check this out, but I find your feature request super interesting, and I'll definitely be looking into ways of providing support for this, as one of the concerns @edtjones raised is now solved (the Contentful SDK now properly marshals objects and can also build objects from raw JSON), which would allow this feature to be implemented.

Cheers

[2018-05-24 12:09] dlitvakb commented on #12
This issue has been solved for over a year, closing.

[2018-05-24 12:09] #12 closed

[2018-05-24 12:10] dlitvakb commented on #10
This has been solved for over a year. Closing.

[2018-05-24 12:10] #10 closed

[2018-05-24 12:11] dlitvakb commented on #2
This issue has been solved.

[2018-05-24 12:11] #2 closed

[2018-05-24 12:27] #26 closed

[2018-05-24 12:28] #25 closed

[2018-05-24 12:29] #42 closed

[2018-05-24 12:29] #44 closed

[2018-05-24 12:30] #17 closed

[2018-06-11 15:45] bfioca opened #46 "Support Contentful Model 1.0"
Would love support for Contentful Model v 1.0.

[2018-07-05 14:56] raybradley opened #48 "OOM errors in Docker"
We're seeing fairly heavy RAM consumption when performing basic queries:

`@tests = TestProduct.all.order('name').load`

We suspect this is due to eager loading, as TestProducts have a number of associations (only a handful of actual TestProducts exist). We've tried suppressing eager loading as described [here](https://github.com/contentful/contentful_rails#entry-mapping), but no dice.

Any ideas?

[2018-07-05 15:22] dlitvakb commented on #48
Hey @raybradley,

Looks like you may have multiple circular references. To limit them, either enable `reuse_entries` or limit the maximum include resolution depth with `max_include_resolution_depth`, I'd suggest to your maximum include level + 1.

Both of this options are available through the `options` in the configuration block.

Cheers

[2018-07-05 16:47] raybradley commented on #48
I'm afraid I'm missing something here. Given this config block:

[code]
...the app complains thusly:

[code]

Ideas? Is the option documented as part of the contentful_rails gem and I'm missing it?

[2018-07-05 17:02] shaug commented on #48
[code]

I personally recommend enabling `reuse_entries` instead.

[2018-07-05 17:35] raybradley commented on #48
Thanks @shaug ... that was non-obvious :)

Why do you recommend `reuse_entries` over `max_include_resolution_depth`?

[2018-07-05 18:54] dlitvakb commented on #48
Hey @raybradley,

It depends, reuse_entries will be more performant and will take less memory, but this is at the cost of disabling caching capabilities when having circular references, as it will generate a stack level too deep error.

Reducing the maximum include resolution limit, while a bit less perfomant when having circular references, has the same performance and uses the same amount of mem

[2018-07-05 23:50] raybradley commented on #48
Thanks for the suggestions, but unfortunately it's still happening. Anything further you all would recommend to troubleshoot or profile the calls I'm making?

[2018-07-06 22:00] dlitvakb commented on #48
Hey @raybradley,

I'd suggest using something like NewRelic to check what's the memory bottleneck you're having. So that we can have a better idea of what may be the cause of your issue.

In the meantime, I'd suggest limiting your request size to an amount you can handle with the memory constraints you have. You can do so by using the `limit` query operator, which defaults to 100 (same if omitted

[2018-07-10 17:34] reidcooper commented on #46
I am pretty sure it does, defined in Gemspec

[2018-07-10 17:38] shaug commented on #46
Master does, with version 0.4.2. The current released version (0.4.1) available on rubygems.org does not.

[2018-07-10 17:52] reidcooper commented on #35
Running into the same issue.

[2018-07-10 18:08] jpowell commented on #35
@reidcooper

We've built a gem that auto generates all your classes, and has some helpful rails specific (but not dependent) tooling around webhooks, reindexing, etc.

https://github.com/watermarkchurch/wcc-contentful

Theoretically, you could alias your namespace (ex, `Contentful = WCC::Contentful`) and use similar to how you'd use the other contentful gem. It's not a one-to-one replacement for t

[2018-07-10 22:12] reidcooper opened #49 "Webhook Engine does not provide the /debug route as expected"
Upon mounting the engine, I am unable to access the `/webhooks/debug` route.

My suggested fix in `contentful_rails/development_constraint.rb`:
[code]

Due to https://stackoverflow.com/a/12384762/3674071 stating that the `%r{}` syntax allows you to use `/` without having to escape them. We don't want to check whether or not the `Rails.env = "/development/"`, but if its `"development"`. Applies con

[2018-07-11 18:59] dlitvakb commented on #49
Thanks for the fix, just merged.

Cheers

[2018-07-11 18:59] #49 closed

[2018-07-11 19:56] reidcooper opened #51 "How do you perform the russian nesting doll cache?"
I am looking to verify that the cache is saving the right api response, however, I am not see that(?) My redis keeps filling up with new objects.

What is the best way to implement this?

I have the engine mounted to '/'

When I ask the model for its `updated_at` timestamp, I don't seem to enter the line of code in `lib/contentful_rails/caching/timestamps.rb` and I don't see a value entered into R

[2018-07-11 21:37] reidcooper commented on #34
Update? Seems like I am running into these problems. In my gem file I am referencing both github repositories at the master branch instead of Rubygems.

[2018-07-12 22:38] reidcooper commented on #35
@jpowell Hey i was taking a look at your gem. How do I integrate it? Similar to this rails gem here?

[2018-07-13 07:45] dlitvakb commented on #35
Hey @reidcooper & @jpowell,

I'm currently on parental leave, I'm back on August 1st. I will remove the dependency as soon as I'm back.

Cheers

[2018-07-13 14:51] jpowell commented on #35
congrats @dlitvakb!

[2018-07-17 16:59] keithm-thompson commented on #48
Hey @dlitvakb,

Looks like adding *both* `reuse_entries` and `max_include_resolution_depth` did the trick for us. Is there any reason why we should avoid having both flags set in the config options?

Thanks!

[2018-07-17 20:54] dlitvakb commented on #48
Hey @keithm-thompson,

They serve different purposes, so you can safely use both together. The first is for avoiding recreating entry objects if they are reused somewhere along the hydration process, the second one is to limit the amount of chaining on long chains of unique objects (if you enable `reuse_entries`).

Cheers

[2018-10-11 00:13] swetonic commented on #10
I encountered a problem recently that required me to do the Marshal.dump/Marshal.load trick. I have a content model that includes references to other pieces of content. The first time my content is put in the rails cache, it's fine. But the second time, when reading the cached entry, one of the properties is returned as a Contentful::Link instead of a Contentful::Asset.

If I do Marshal dump/load

[2018-10-17 09:31] dlitvakb commented on #10
Hey @swetonic,

I have identified this issue and I'm currently working on fixing it, it happens when doing `Marshal.load` on objects which previously had unpublished nested resources.

The inclusion errors were not serlialized, therefore the links were being displayed instead of removed from the result.

I'll be publishing a fix today on the https://github.com/contentful/contentful.rb gem.

Cheers

[2019-05-06 09:52] alesrosina commented on #44
@dlitvakb the newsest version is still not pushed to rubygems.org. Could you do it?

[2019-06-27 03:46] 0xStarcat commented on #34
Hello, so I'm coming to this issue having experienced severe issues with caching in Rails 5 while upgrading my gem from `0.7.0` -> `2.12.0`.

I'm not sure if my issues are the same as everyones because no one has described their caching issues yet here, but my issue is that while using ANY type of Rails cache in a development environment (:file_store, :dalli_store, :mem_cache, etc) with the previe

[2020-03-09 16:36] #51 closed

[2020-09-07 18:43] dmitryzuev commented on #25
@sebbean This error happens on unpublish Webhook:
https://github.com/contentful/contentful_rails/blob/master/lib/contentful_rails/engine.rb#L56

If you use MemCache store, this part will raise error every time Entry gets unpublished.

@dlitvakb I can reproduce this issue on latest versions of this gem, rails and dalli

[2022-03-04 17:59] timbroder commented on #34
Also wanted to check in on this. Our content does not change often and it seems expensive to go to a 3rd party frequently for it

[2022-05-17 20:45] sstrudeau opened #60 ""Only Redis glob strings are supported: " on unpublish when using redis as cache store"
Pretty sure this is the issue: https://github.com/contentful/contentful_rails/blob/1ebf57c7bab06f3c0349bfdda911f041f9147d6d/lib/contentful_rails/engine.rb#L56

Redis doesn't support regex and instead supports "glob" strings for matching expiration (and according to the Rails docs for expire_fragment, neither does memcache): https://apidock.com/rails/v6.1.3.1/AbstractController/Caching/Fragments/ex

[2022-11-22 06:09] fxn opened #61 "Eager load in a to_prepare block"
There is an engine initializer doing this:

[code]

Rails applications cannot load application code so early. If you change a content model and reload, nobody is invoking `#add_entry_mapping` on it again. In Rails 7 this is not even possible.

That should be done in a `to_prepare` block, so that it runs when things are ready on boot, and also on every reload.

(This logic is not related to Zeitwer